/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div#myCarousel {
  width: 900px;
  margin: 40px auto;
  padding: 0 70px;
}

img.image {
  float: left;
  padding: 10px 10px 10px 0px;
}

div.for_img {
  margin: 0px auto;
  width: 64px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

div.devise_form {
  margin: 0px auto;
  width: 270px;
}

div.links {
  float: right;
}

div.book {
  float: left;
  padding-right: 70px;
  padding-bottom: 40px;
}

div.books_container {
  float: left;
  width: 900px;
}

div.books_pages {
  width: 250px;
  margin: 0 auto;
}

td.col_title {
  width: 200px;
  text-align: center;
  border-bottom: 1px solid black;
}

th.col_image {
  width: 150px;
}

th.col_price {
  width: 60px;
}

th.col_quantity {
  width: 50px;
}

th.col_total {
  width: 70px;
}

th.col_book {
  min-width: 300px;
}

div.subtotal {
  float: right;
}

div.confirm_info {
  float: left;
  padding-right: 150px;
}

.pull-right {
  float: right !important;
} 

.media-object {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 10px;
  float: left;
}

h3, h4, h5 {
  display:inline;
  padding-right: 5px;
}

strong {
  display: inline;
  padding-left: 30px;
}

.form-inline {
  display: inline;
}

h2 {
  padding-left: 30px;
  padding-bottom: 10px;
}

.book_title {
  padding-top: 10px;
  text-align: center;
}

.book_price {
  text-align: center;
  padding-bottom: 10px;
}

ul.category {
  padding-top: 10px;
}

ul.breadcrumb {
  padding-left: 30px;
  background-color: white;
}

.book_rating_content {
  padding-left: -30px;
  padding-top: 10px;
  word-wrap: break-word;
  border-top: dashed 1px black;
}

.span12 {
  margin-bottom: 20px;
}

#button {
  margin-bottom: 10px;
}

.text {
  text-decoration: underline;
}

.check_box {
  margin-top: 20px;
}

.blue_text {
  color: blue;
}

.date {
  width: 133px;
}

.order_price_content {
  padding-left: -30px;
  padding-top: 10px;
  border-top: dashed 1px black;
  margin-top: -20px; 
}

.center {
  text-align: center;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }