/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div#myCarousel {
  width: 900px;
  margin: 40px auto;
  padding: 0 70px;
}

img.image {
  float: left;
  padding: 10px 10px 10px 0px;
}

div.devise_form {
  margin: 0px auto;
  width: 250px;
}

div.links {
  float: right;
}

div.book {
  float: left;
  padding-right: 70px;
  padding-bottom: 40px;
}

div.books_container {
  float: left;
  width: 900px;
}

div.books_pages {
  width: 250px;
  margin: 0 auto;
}

td.col_title {
  width: 200px;
  text-align: center;
  border-bottom: 1px solid black;
}

td.col_table {
  width: 100px;
  text-align: center;
  border-bottom: 1px solid black;
}

div.subtotal {
  float: right;
}

div.confirm_info {
  float: left;
  padding-right: 150px;
}